{% raw %}{% extends "rest_framework/base.html" %}

{# Override this template in your own templates directory to customize #}
{% block title %}{% endraw %}{{ cookiecutter.project_name }}{% raw %} API{% endblock %}
{% block branding %}<a style="font-size: 15px; line-height: 2.428571; color: white; text-decoration: none !important;" class='brand' rel="nofollow" href='/api/'>{% endraw %}{{ cookiecutter.project_name }}{% raw %} API <span class="version">{% endraw %}{{ cookiecutter.version }}{% raw %}</span></a>{% endblock %}{% endraw %}
