# For more information about the configurations used in this file, please
# see the Travis CI documentation: https://docs.travis-ci.com

language: python
sudo: false
python:
- '2.7'
# - '3.4'  # not supported yet due to dependency on 'fabric'

services:
  - postgresql

addons:
  postgresql: "9.5"
  apt:
    packages:
      - postgresql-9.5-postgis-2.3

install:
  - pip install -U pip cookiecutter fabric

script:
  - ./run_test.sh

notifications:
  email:
    on_success: change  # [always|never|change]
    on_failure: always  # [always|never|change]
