{% raw %}[uwsgi]
chdir={{project_path}}
module=wsgi:application
# master=True
pidfile={{uwsgi_pid_file}}
uid={{uwsgi_user}}
gid={{uwsgi_group}}
vacuum=True
max-requests={{uwsgi_worker_connections}}
buffer-size=8192
home={{venv_path}}
socket={{uwsgi_socket}}
workers={{uwsgi_workers}}
# daemonize=/var/log/uwsgi/fueled.log
log-x-forwarded-for=true
plugins=python36

# for newrelic support
enable-threads=true

# default params
autoload=true
no-orphans=true
chmod-socket=660
log-date=true
logto={{ uwsgi_log_file }}{% endraw %}


# os write errors
# https://github.com/getsentry/raven-python/issues/732#issuecomment-176854438
ignore-sigpipe = true
ignore-write-errors = true
disable-write-exception = true
