{% raw %}{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    <title>{% block title %}{% endraw %}{{ cookiecutter.project_name }}{% raw %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {# HTML5 shim, for IE6-8 support of HTML5 elements #}
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock css %}
  </head>

  <body class="{% block page_classes %} {% endblock page_classes %} ">
    <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% block header %}
    <header>
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                  <h1><a href="#">{% endraw %}{{ cookiecutter.project_name }}{% raw %}</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
            </ul> {# .title-area #}

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                  <li class="active"><a href="#">Right Button Active</a></li>
                  <li class="has-dropdown">
                    <a href="#">Right Button with Dropdown</a>
                    <ul class="dropdown">
                      <li><a href="#">First link in dropdown</a></li>
                    </ul>
                  </li>
                </ul>

                <!-- Left Nav Section -->
                <ul class="left">
                  <li><a href="#">Left Nav Button</a></li>
                </ul>
            </section> {# .top-bar-section #}
        </nav> {# .top-bar #}
    </header>
    {% endblock header %}

    {% if messages %}
        {% for message in messages %}
            <div data-alert class="alert-box {% if message.tags %}{{ message.tags }}"{% endif %}>
            {{ message }} <a href="#" class="close">&times;</a>
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}
        <p>Coming soon!</p>
    {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    {# Placed at the end of the document so the pages load faster #}
    {% block js %}
      <!-- Latest JQuery -->
      <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.5/js/vendor/fastclick.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.5/js/vendor/jquery.js"></script>

      {# see: http://cdnjs.com/libraries/foundation/ #}
      <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.5/js/foundation.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.5/js/foundation/foundation.alert.js"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>
    {% endblock js %}
  </body>
</html>
 {% endraw %}
