{%raw%}
[Unit]
Description=Celery Beat {{ project_namespace }} Service
After=network.target

[Service]
User={{ celery_user }}
RuntimeDirectory={{ celery_runtime_dir }}
Group={{ celery_group }}
Restart=always
WorkingDirectory={{ project_path }}
ExecStart=poetry run celery -A {{ project_name }} beat -l {{ celery_log_level }} \
    --logfile={{ celerybeat_log_file }} --pidfile={{ celerybeat_pid_file }}  --schedule={{ celerybeat_schedule_file}}

[Install]
WantedBy=multi-user.target
Alias=celerybeat-{{ project_namespace }}.service
{%endraw%}
