{%raw%}[Unit]
Description=Celery Service
After=network.target

[Service]
User={{ celery_user }}
Group={{ celery_group }}
Type=forking
Restart=always
WorkingDirectory={{ project_path }}
ExecStart={{ venv_path }}/bin/celery multi start worker1 -A {{ project_name }} -B -l {{ celery_log_level }} \
    --concurrency={{ celery_concurrency }} --logfile={{ celery_log_dir }}/celery.log --pidfile={{ celery_pid_file }}
ExecStop={{ venv_path }}/bin/celery multi stopwait worker1 --pidfile={{ celery_pid_file }}
ExecReload={{ venv_path }}/bin/celery multi restart worker1 -A {{ project_name }} -B -l {{ celery_log_level }} \
    --concurrency={{ celery_concurrency }} --logfile={{ celery_log_dir }}/celery.log --pidfile={{ celery_pid_file }}{%endraw%}

[Install]
WantedBy=multi-user.target
Alias=celery.service

