{%raw%}
[Unit]
Description=Celery {{ project_namespace }} Service
After=network.target

[Service]
User={{ celery_user }}
Group={{ celery_group }}
Type=forking
Restart=always
WorkingDirectory={{ project_path }}
ExecStart={{ venv_path }}/bin/celery -A {{ project_name }} multi start worker-{{ project_namespace }} -l {{ celery_log_level }} \
    --logfile={{ celery_log_file }} --pidfile={{ celery_pid_file }}  --schedule={{ celerybeat_schedule_file}}
ExecStop={{ venv_path }}/bin/celery multi stopwait worker-{{ project_namespace }} --pidfile={{ celery_pid_file }}
ExecReload={{ venv_path }}/bin/celery -A {{ project_name }} multi restart worker-{{ project_namespace }} -l {{ celery_log_level }} \
    --logfile={{ celery_log_file }} --pidfile={{ celery_pid_file }}  --schedule={{ celerybeat_schedule_file}}

[Install]
WantedBy=multi-user.target
Alias=celery-{{ project_namespace }}.service
{%endraw%}
