{% raw %}[program:celery]
command = {{ project_path }}/venv/bin/celery worker -A {{ project_name }} -B -l INFO --concurrency={{ celery_concurrency }}
directory = {{ project_path }}/
user=ubuntu
stdout_logfile=/var/log/celery.log
stderr_logfile=/var/log/celery.log
{% endraw %}
