{% raw %}[program:celery]
command = {{ venv_path }}/bin/celery worker -A {{ project_name }} -B -l INFO --concurrency={{ celery_concurrency }}
directory = {{ project_path }}/
user={{ user }}
stdout_logfile=/var/log/celery.log
stderr_logfile=/var/log/celery.log
{% endraw %}
