{%raw%}# {{ ansible_managed }}
server {
    listen       80;
    server_name  {{ domain_name }};

    {% if use_letsencrypt %}
        location /.well-known/acme-challenge/ {
            root {{ letsencrypt_challange_root }};
            try_files $uri =404;
        }
    {% endif %}

    {% if vm and (nginx_cert.stat.exists == false or nginx_key.stat.exists == false) %}
      location / {
            proxy_pass         http://127.0.0.1:8000;
            proxy_redirect     off;
            proxy_set_header   Host             $host;
            proxy_set_header   X-Real-IP        $remote_addr;
            proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
            proxy_set_header   X-Forwarded-Proto $scheme;
    }
    {% else %}
    location / {
        return 301   https://$server_name$request_uri;
    }
    {% endif %}
}{%endraw%}
