# http://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,rst,ini}]
indent_style = space
indent_size = 4

[*.py]
# https://github.com/timothycrosley/isort/wiki/isort-Settings
# https://timothycrosley.github.io/isort/docs/configuration/profiles/#black
line_length=120
known_first_party={{ cookiecutter.main_module }}
multi_line_output=3
include_trailing_comma=True
default_section=THIRDPARTY
ensure_newline_before_comments=True
force_grid_wrap=0
import_heading_firstparty={{ cookiecutter.project_name }} Stuff
import_heading_stdlib=Standard Library
import_heading_thirdparty=Third Party Stuff
skip_glob=*/migrations/**,*/venv/**,*/docs/**
use_parentheses=True

[*.{html,css,scss,json,yml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
