# Core Stuff
# ==============================
# DJANGO_SETTINGS_MODULE=settings.production
# DJANGO_DEBUG=False
# DJANGO_ADMIN_URL='admin'
# DJANGO_SECRET_KEY='change_with_50+_long_random_string'
# DJANGO_ADMINS='Admin 1<admin@example.com>, Admin2 <admin2@example.com>'
# SITE_SCHEME=https
# SITE_DOMAIN=youdomain.com
# SITE_NAME='your site name'
# ALLOWED_HOSTS=youdomain.com
# DJANGO_SECURE_HSTS_SECONDS=60

# Databases
# ==============================
# DATABASE_URL=postgres://username:password@yourhost.com:5432/database_name
# REDIS_URL='redis://localhost:6379/'

# File Storage
# ==============================
# ENABLE_MEDIA_UPLOAD_TO_S3=False
# DJANGO_AWS_ACCESS_KEY_ID=''
# DJANGO_AWS_SECRET_ACCESS_KEY=''
# DJANGO_AWS_STORAGE_BUCKET_NAME=''
# DJANGO_AWS_S3_HOST=''
# DJANGO_AWS_S3_REGION_NAME=''

# Django Rest Framework
# ==============================
# API_DEBUG=False

# Emails
# ==============================
# DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# DEFAULT_FROM_EMAIL=''
# EMAIL_HOST=''
# EMAIL_HOST_PASSWORD=''
# EMAIL_HOST_USER=''
# EMAIL_PORT=587
# EMAIL_SUBJECT_PREFIX=''

{% if cookiecutter.use_sentry_for_error_reporting == "y" -%}
# SENTRY
# ==============================
# SENTRY_DSN=''
# SENTRY_ENVIRONMENT=production
{%- endif -%}
