# This file is here because many Platforms as a Service look for
# requirements.txt in the root directory of a project.
-r requirements/production.txt

{%- if cookiecutter.add_heroku.lower() == 'y' %}
# WSGI HTTP Server
# -------------------------------------
uWSGI==2.0.16
{% endif %}
