{%raw%}[program:celery]
command = celery worker -A {{ celery_app }} -B -l INFO
directory = {{ project_path }}/{{ project_name }}
user=ubuntu
stdout_logfile=/var/log/celery.log
stderr_logfile=/var/log/celery.log{%endraw%}
