{%raw%}---
- name: Update apt-cache if not already ran
  shell: apt update
  become: yes
  when: apt_updated is not defined

- name: install NGINX Server.
  apt: pkg=nginx state=installed

- name: make sure ssl directory exists
  file: path={{ ssl_cert_dir }} state=directory

- name: check {{ letsencrypt_ssl_cert_dir }} exists
  stat: path={{ letsencrypt_ssl_cert_dir }}
  register: letsencrypt_dir

- include: letsencrypt.yml
  when: not vm and use_letsencrypt and letsencrypt_dir.stat.exists == false

# running cron job each monday
- name: add letsencrypt renew cron
  cron: name="Renew all certificates" minute="0" hour="2" weekday="1" job="PATH=$PATH:/usr/local/bin && certbot-auto renew --webroot -w {{ letsencrypt_challange_root }}  >> /var/log/certbot.log"
  when: not vm and use_letsencrypt

- name: check ssl/nginx.crt exists
  stat: path={{ ssl_cert_dir }}/{{ domain_name }}/fullchain.pem
  register: nginx_cert

- name: check ssl/nginx.key exists
  stat: path={{ ssl_cert_dir }}/{{ domain_name }}/privkey.pem
  register: nginx_key

- fail: msg="Whoops! ssl certificate doesn't exist"
  when: not vm and (nginx_cert.stat.exists == false or nginx_key.stat.exists == false)

- name: generate ssl forward secrecy key
  command: openssl dhparam -out {{ ssl_forward_secrecy_key_path }} {{ ssl_forward_secrecy_key_length }} creates={{ ssl_forward_secrecy_key_path }}
  when: not vm and (nginx_cert.stat.exists == false or nginx_key.stat.exists == false)

- name: copy base nginx configuration.
  template: src=nginx.conf.j2 dest=/etc/nginx/nginx.conf
  notify: restart nginx

- name: delete default vhost.
  action: file path=/etc/nginx/sites-enabled/default state=absent
  notify: restart nginx

- name: copy site host port 80 configuration.
  template: src=site.80.conf.j2 dest=/etc/nginx/sites-available/{{project_name}}.80.conf
  notify: restart nginx

- name: copy site host port 443 configuration.
  template: src=site.443.conf.j2 dest=/etc/nginx/sites-available/{{project_name}}.443.conf
  when: nginx_cert.stat.exists == true and nginx_key.stat.exists == true
  notify: restart nginx

- name: put host port 80 configuration in sites-enabled
  file: src=/etc/nginx/sites-available/{{project_name}}.80.conf dest=/etc/nginx/sites-enabled/{{project_name}}.80 state=link
  notify: restart nginx

- name: put host port 443 configuration in sites-enabled
  file: src=/etc/nginx/sites-available/{{project_name}}.443.conf dest=/etc/nginx/sites-enabled/{{project_name}}.443 state=link
  when: nginx_cert.stat.exists == true and nginx_key.stat.exists == true
  notify: restart nginx

- name: ensure nginx is running
  service: name=nginx state=started{%endraw%}
