[bumpversion]
current_version = {{ cookiecutter.version }}
commit = True
tag = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+))?
serialize =
    {major}.{minor}.{patch}-{release}
    {major}.{minor}.{patch}

[bumpversion:file:{{ cookiecutter.repo_name }}/__init__.py]

[bumpversion:file:{{ cookiecutter.repo_name }}/templates/rest_framework/api.html]

[bumpversion:file:docs/index.md]

[bumpversion:file:README.md]

[bumpversion:part:release]
optional_value = gamma
values =
    dev
    gamma
