language: python
python:
- '2.7'
install: pip install -q -r requirements/development.txt
before_script:
- flake8
- export DATABASE_URL=postgres://postgres@localhost/{{ cookiecutter.repo_name }}
- export DJANGO_SECRET=`openssl rand -base64 32`
- psql -c "CREATE DATABASE {{ cookiecutter.repo_name }};" -U postgres

script:
- coverage run --source={{ cookiecutter.repo_name }} --omit='*tests*,*commands*,*migrations*,*admin*,*config*,*wsgi*' -m py.test -v --tb=native
- coverage report

notifications:
  email:
    on_success: change  # [always|never|change]
    on_failure: always  # [always|never|change]
deploy:
  provider: heroku
  buildpack: python
  strategy: api
  api_key:
    # travis encrypt $(heroku auth:token) --add deploy.api_key
    secure: <add_heroku_auth_token_here>
  app:
    master: {{ cookiecutter.repo_name }}-dev
    qa: {{ cookiecutter.repo_name }}-qa
    prod: {{ cookiecutter.repo_name }}-prod
  on:
    repo: {{ cookiecutter.github_username }}/{{ cookiecutter.github_reponame }}
  run:
    - "python {{ cookiecutter.repo_name }}/manage.py migrate"
